.styleForSpan {
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: underline;
}

input {
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 5px;
}