.superInput {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline:none
}

.errorInput {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 3px solid darkred;
    background: rosybrown;
    border-radius: 2px;
    outline:none

}

.error {
    color: red;
}